@import "../../../css-config/mixins.scss";
@import "../../../css-config/Theme.scss";
@import "../../../css-config/Style.scss";


.product-content{
    padding: 2rem 1rem;
}
.business-title{
    font-size: 2rem;
    // text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: var(--title);
    margin: 1rem 0;
}
// .product-title::after{
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     height: 4px;
//     width: 80px;
//     background: var(--text);
// }
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #1ec940;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: var(--text);
}
.business-details{
    // margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.business-details span{
    font-weight: 400;
}
.founder span{
    color: #ef2b63;
}
.since span{
    color: #256eff;
}
.address span{
    color: #ffab25;
}
.product-detail h2{
    text-transform: capitalize;
    color: var(--text);
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul p{
    margin: 0;
    list-style: none;
    background-size: 25px;
    padding-left: 0.5rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: var(--text);
    border: 1px solid var(--text);
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: var(--navColor1);
    border-color: transparent;
    color: var(--navColor2);
}

@media screen and (min-width: 992px){
    // .card{
    //     display: grid;
    //     grid-template-columns: repeat(2, 1fr);
    //     grid-gap: 1.5rem;
    // }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}
